/* 
define style 
-- import font
-- Root
-- global
-- register page
-- profile page
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
/* Root */
:root {
  --bg-card: rgba(245, 247, 255, 0.85);
  --btn-primary: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  --btn-shadow: 0px 6px 18px #9cadf2;
  --text-clr : #1f1249;
  --success-clr:#2ecc71;
  --error-clr:#e74c3c;
  --border-input:#dbe3ff;
  --font-family-1: "Mulish", sans-serif;
}
/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-1);
}
p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--text-clr);
}
h1 {
  font-weight: 500;
  text-transform: capitalize;
}
.hero-section {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  background: var(--btn-primary);
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
}
.btn {
  border: none;
  text-transform: capitalize;
  font-weight: 700;
  padding-inline: 50px;
  height: 60px;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 3.75rem;
  background: var(--bg-card);
  border-radius: 10px;
}
/* register */
.register .form-group {
  position: relative;
  margin-bottom: 10px;
}
.register input {
  width: 100%;
  padding: 8px 20px 8px 61px;
  outline: none;
  border: 1px solid var(--border-input);
}
.register .icon {
  position: absolute;
  width: 18px;
  top: 50%;
  left: 20px;
  color: #9cadf2;
  transform: translateY(-50%);
}
.register .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 1px;
  height: 100%;
  background: #dbe3ff;
}
.register .form-group.error input {
  border: 1px solid var(--error-clr);
}
.register .form-group.success input {
  border: 1px solid var(--success-clr);
}
.register .check-success,
.register .check-error {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.register .form-group.success .check-success {
  color: var(--success-clr);
  visibility: visible;
}
.register .form-group.error .check-error {
  color: var(--error-clr);
  visibility: visible;
}
.register .form-group .message {
  display: none;
  font-size: 14px;
}
.register .form-group.error .message {
  display: block;
}
/* profile */
.profile h1 {
  font-size: 32px;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .profile h1 {
    font-size: 42px;
  }
}
.profile p {
  color: var(--text-clr);
  text-decoration: underline;
}
